In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [15]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [16]:
ww2_cas['USA']

400000

In [17]:
#check which countries had cas greater than 4 million
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [18]:
'USSR' in ww2_cas

True

In [20]:
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [22]:
ww2_series = Series(ww2_dict)
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [24]:
countries = ['China','Germany','Japan','USA','USSR','Argentina']
obj2 = Series(ww2_dict, index = countries)
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [25]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [26]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [27]:
ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [30]:
obj2.name = 'World War 2 Casualties'
obj2.index.name = 'Countries'

In [31]:
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

In [35]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [41]:
#reads from clipboard Ctrl+C
nfl_frame = pd.read_clipboard()

In [42]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East

In [43]:
nfl_frame['First NFL Season']

0    1960
1    1921
2    1920
3    1966
4    1960
Name: First NFL Season, dtype: int64

In [45]:
DataFrame(nfl_frame, columns = ['Team','First NFL Season','Total Games'])

                   Team  First NFL Season Total Games
0        Dallas Cowboys              1960         866
1     Green Bay Packers              1921       1,320
2         Chicago Bears              1920       1,354
3        Miami Dolphins              1966         784
4  New England Patriots              1960         868

In [46]:
nfl_frame.ix[3]

Rank                             4
Team                Miami Dolphins
Won                            439
Lost                           341
Tied                             4
Pct.                         0.563
First NFL Season              1966
Total Games                    784
Division                  AFC East
Name: 3, dtype: object

In [47]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [50]:
nfl_frame['Stadium'] = np.arange(5)

In [52]:
stadiums = Series(["Levi's Stadium", 'AT&T Stadium'], index=[4,0])
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [54]:
nfl_frame['Stadium'] = stadiums
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,AT&T Stadium
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,NaN
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,NaN
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,NaN
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,Levi's Stadium

In [55]:
del nfl_frame['Stadium']

In [56]:
data = {'City':['SF','LA','NYC'], 'Population': [837000,3880000,8400000]}
city_frame = DataFrame(data)
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000