In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
df = pd.read_csv('lec25.csv', header = None)
df

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [4]:
#this will read anything, but you have to indicate the delimitnater
df = pd.read_table('lec25.csv', sep=',',header = None)
df

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [5]:
pd.read_csv('lec25.csv',header = None, nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [7]:
df.to_csv('mytextdata_out.csv')

In [8]:
import sys

In [11]:
df.to_csv(sys.stdout,sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog

In [12]:
df.to_csv(sys.stdout, columns=[0,1,2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5

In [13]:
#json
json_obj = """
{   "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null, 
    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

In [14]:
import json

In [15]:
data = json.loads(json_obj)

In [16]:
data

{u'clothes': None,
 u'diet': [{u'food': u'grass', u'fur': u'Brown', u'zoo_animal': u'Gazelle'}],
 u'food': [u'Meat', u'Veggies', u'Honey'],
 u'fur': u'Golden',
 u'zoo_animal': u'Lion'}

In [17]:
json.dumps(data)

'{"food": ["Meat", "Veggies", "Honey"], "zoo_animal": "Lion", "fur": "Golden", "diet": [{"food": "grass", "zoo_animal": "Gazelle", "fur": "Brown"}], "clothes": null}'

In [19]:
dframe = DataFrame(data['diet'])
dframe

    food    fur zoo_animal
0  grass  Brown    Gazelle

In [24]:
#html
from pandas import read_html

In [25]:
url ='http://www.fdic.gov/bank/individual/failed/banklist.html'

In [26]:
dframe_list = pd.io.html.read_html(url)

ImportError: lxml not found, please install it

In [27]:
#excel
xlsfile = pd.ExcelFile('Lec_28_test.xlsx')

In [29]:
dframe = xlsfile.parse('Sheet1')
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365

In [34]:
dframe1 = DataFrame({'key':['X','Z','Y','Z','X','X'], 'data_set_1':np.arange(6)})
dframe2 = DataFrame({'key':['Q','Y','Z'], 'data_set_2':[1,2,3]})

In [35]:
pd.merge(dframe1, dframe2)

   data_set_1 key  data_set_2
0           1   Z           3
1           3   Z           3
2           2   Y           2

In [36]:
pd.merge(dframe1,dframe2, on = 'key')

   data_set_1 key  data_set_2
0           1   Z           3
1           3   Z           3
2           2   Y           2

In [37]:
pd.merge(dframe1,dframe2, on ='key', how = 'left')

   data_set_1 key  data_set_2
0           0   X         NaN
1           1   Z         3.0
2           2   Y         2.0
3           3   Z         3.0
4           4   X         NaN
5           5   X         NaN

In [38]:
pd.merge(dframe1,dframe2, on ='key', how = 'right')

   data_set_1 key  data_set_2
0         1.0   Z           3
1         3.0   Z           3
2         2.0   Y           2
3         NaN   Q           1

In [39]:
dframe3 = DataFrame({'key': ['X','X','X','Y','Z','Z'], 'data_set_3':range(6)})
dframe4 = DataFrame({'key': ['Y','Y','X','X','Z'], 'data_set_4':range(5)})

In [41]:
pd.merge(dframe3, dframe4)

   data_set_3 key  data_set_4
0           0   X           2
1           0   X           3
2           1   X           2
3           1   X           3
4           2   X           2
5           2   X           3
6           3   Y           0
7           3   Y           1
8           4   Z           4
9           5   Z           4

In [42]:
# We can also merge with multiple keys!

# Dframe on left
df_left = DataFrame({'key1': ['SF', 'SF', 'LA'],
                  'key2': ['one', 'two', 'one'],
                  'left_data': [10,20,30]})

#Dframe on right
df_right = DataFrame({'key1': ['SF', 'SF', 'LA', 'LA'],
                   'key2': ['one', 'one', 'one', 'two'],
                   'right_data': [40,50,60,70]})

#Merge
pd.merge(df_left, df_right, on=['key1', 'key2'], how='outer')

  key1 key2  left_data  right_data
0   SF  one       10.0        40.0
1   SF  one       10.0        50.0
2   SF  two       20.0         NaN
3   LA  one       30.0        60.0
4   LA  two        NaN        70.0

In [43]:
pd.merge(df_left, df_right, on = 'key1')

  key1 key2_x  left_data key2_y  right_data
0   SF    one         10    one          40
1   SF    one         10    one          50
2   SF    two         20    one          40
3   SF    two         20    one          50
4   LA    one         30    one          60
5   LA    one         30    two          70

In [44]:
pd.merge(df_left, df_right, on='key1', suffixes=("_leftfy","_righty"))

  key1 key2_leftfy  left_data key2_righty  right_data
0   SF         one         10         one          40
1   SF         one         10         one          50
2   SF         two         20         one          40
3   SF         two         20         one          50
4   LA         one         30         one          60
5   LA         one         30         two          70